{% if messages %}
  {% for message in messages %}
    <div class="animate-fadeOut fixed right-16 bottom-24 w-[480px] py-2 px-3 flex items-center gap-4 bg-white border border-neutral-300 shadow-md rounded-lg dark:text-white dark:bg-neutral-700 dark:border-neutral-600">
      {% if message.tags == 'success' %}
        {% include 'svgs/checkmark.svg' %}
      {% elif message.tags == 'error' %}
        {% include 'svgs/cross.svg' %}
      {% endif %}
      <p>{{ message }}</p>
    </div>
  {% endfor %}
{% endif %}