<!-- Base.html - the root template for loading assets etc -->
{% load static %}
<!DOCTYPE html>
{% if user and user.profile.get_user_theme == 'LIGHT'%}
  <html lang="en" data-theme="light">
{% elif user and user.profile.get_user_theme == 'DARK'%}
  <html lang="en" data-theme="dark">
{% else %}
  <html lang="en" data-theme="system">
{% endif %}
  <head>
    <script>
      // Script in <head> so executes before styling applied
      const root = document.documentElement;
      const userTheme = root.getAttribute("data-theme");
      // Apply theme based on user preference
      if (userTheme === "system") {
        const prefersDarkMode = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        if (prefersDarkMode) {
          root.setAttribute("data-theme", "dark");
        }
        // Listen for system preference changes
        window
          .matchMedia("(prefers-color-scheme: dark)")
          .addEventListener("change", (e) => {
            if (e.matches) {
              root.classList.add("dark");
            } else {
              root.classList.remove("dark");
            }
          });
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A portfolio application to manage your notes">
    <meta name="keywords" content="notes, portfolio, bayford">
    <meta name="author" content="bayford.dev">
    <title>Notes</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>
    <main>{% block content %} {% endblock %}</main>
  </body>
  <script
    type="text/javascript"
    src="{% static 'js/main.js' %}"
    defer
  ></script>
  <script
    type="text/javascript"
    src="{% static 'js/alpine.min.js' %}"
    defer
  ></script>
</html>
